body {
	background-color: #ececec;
}

.page {
	position: relative;
	width: 595px;
	height: 842px;
	background-color: white;
}

.attribute {
	position: absolute;
	content: url('../img/AttributeBlock.svg');
	width: 53px;
	height: 62px;
}
