html {
    font-size: 62.5%;
}

body {
    background-color: #ececec;
    margin: 0;
}

.container {
    width: 100vw;
    height: 141.42vw;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.attr {
    width: 11.23%;
    height: 13.58%;
    position: relative;
    top: 20%;
    left: 4%;
}
.attrBg {
    width: 11.23%;
    height: 13.58%;
    content: url('../img/AttributeBlock.svg');
    z-index: 1;
    position: absolute;
    top: 0;
}
.attrTxt {
    width: 11.23%;
    height: 13.58%;
    z-index: 2;
    position: absolute;
    top: 0.6%;
    font-size: 1.4rem;
    text-align: center;
}
