---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "reset";

$fullWidth: 793px;
$fullHeight: 1122px;
$printMargin: 24px;
$portaitFontSize: 1.4rem;

body {
    margin: 0;
    padding: 0;

    #intro, .outerPage {
        margin: 15px;
    }
}
.outerPage div {
    position: absolute;
}
div .bg,
div .bg img {
    width: 100%;
    height: 100%;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

#intro {
    max-width: $fullWidth;
}
#intro, #intro > * {
    position: static;
}

.outerPage {
    width: $fullWidth;
    height: $fullHeight;
    position: relative;
}
.page {
    width: $fullWidth - ($printMargin * 2);
    height: $fullHeight - ($printMargin * 3.5);
    position: relative;
    top: $printMargin;
    left: $printMargin;
}

#basicBar {
    width: $fullWidth - ($printMargin * 2);
    height: 126px;
}

.attrBlock {
    width: 70px;
    height: 82px;

    .attrBg {
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
    }
    .attrTxt {
        width: 100%;
        z-index: 2;
        top: 6px;
    }
}

#inspBlock {
    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 14px;
        right: 0;
    }
}

#profBlock {
    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 18px;
        right: 0;
    }
}

@media screen and (orientation: portrait) {
    .navbar {
        button, input, optgroup, select, textarea {
            font-size: $portaitFontSize !important;
        }
    }
    #intro {
        .desc {
            font-size: $portaitFontSize !important;
        }
    }
}

/* ----------------------------------------------------------------------------------- */
/* -- Defaults -- */
/* ----------------------------------------------------------------------------------- */
#basicBar {
    top: 20px;
    left: 0px;
}

#attrBox {
    width: 80px;
    height: 588px;
    top: 160px;
    left: 15px;
}

.attrBlock {
    width: 70px;
    height: 82px;
}
#strBlock {
    top: 180px;
    left: 20px;
}
#dexBlock {
    top: 273px;
    left: 20px;
}
#conBlock {
    top: 365px;
    left: 20px;
}
#intBlock {
    top: 457px;
    left: 20px;
}
#wisBlock {
    top: 548px;
    left: 20px;
}
#chaBlock {
    top: 640px;
    left: 20px;
}

#savesBlock {
    width: 150px;
    height: 130px;
    top: 255px;
    left: 100px;
}

#skillsBlock {
    width: 150px;
    height: 345px;
    top: 400px;
    left: 100px;
}

#inspBlock {
    width: 146px;
    height: 37px;
    top: 160px;
    left: 100px;
}
#profBlock {
    width: 146px;
    height: 45px;
    top: 205px;
    left: 100px;
}

.boxBg {
    width: 230px;
    height: 315px;
}
#boxBg1 {
    top: 160px;
    left: 255px;
}
#boxBg2 {
    top: 160px;
    left: 495px;
}

#deathBlock {
    width: 100px;
    height: 65px;
    top: 400px;
    left: 265px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Printing -- */
/* ----------------------------------------------------------------------------------- */
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    .outerPage {
        width: $fullWidth - ($printMargin * 2);
        /*transform: scale(1.5) !important;*/
        height: initial;
        margin: 0;
    }
    .page {
        top: 0;
        left: 0;
    }
}

@page {
    size: #{$fullWidth} #{$fullHeight};
    margin: $printMargin;
}
