---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "reset";

$fullWidth: 793px;
$fullHeight: 1122px;
$printMargin: 24px;

body {
    margin: 0;
    padding: 0;

    #intro, .outerPage {
        margin: 15px;
    }
}
.outerPage div {
    position: absolute;
}
div > img {
    width: 100%;
    height: 100%;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

#intro, #intro > * {
    position: static;
}

.outerPage {
    width: $fullWidth;
    height: $fullHeight;
    position: relative;
}
.page {
    width: $fullWidth - ($printMargin * 2);
    height: $fullHeight - ($printMargin * 3.5);
    position: relative;
    top: $printMargin;
    left: $printMargin;
}

#basicBar {
    width: $fullWidth - ($printMargin * 2);
    height: 126px;
}

.attrBlock {
    width: 70px;
    height: 82px;

    .attrBg {
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
    }
    .attrTxt {
        width: 100%;
        z-index: 2;
        top: 6px;
    }
}

#inspBlock {
    width: 145px;
    height: 37px;

    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 14px;
        right: 0;
    }
}

#profBlock {
    width: 146px;
    height: 45px;

    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 18px;
        right: 0;
    }
}

/* ----------------------------------------------------------------------------------- */
/* -- Defaults -- */
/* ----------------------------------------------------------------------------------- */

#basicBar {
    top: 21px;
    left: 0px;
}

#attrBox {
    width: 80px;
    height: 588px;
    top: 160px;
    left: 15px;
}

.attrBlock {
    width: 70px;
    height: 82px;
}
#strBlock {
    top: 181px;
    left: 20px;
}
#dexBlock {
    top: 273px;
    left: 20px;
}
#conBlock {
    top: 365px;
    left: 20px;
}
#intBlock {
    top: 457px;
    left: 20px;
}
#wisBlock {
    top: 548px;
    left: 20px;
}
#chaBlock {
    top: 640px;
    left: 20px;
}

#savesBlock {
    width: 149px;
    height: 131px;
    top: 280 - $printMargin;
    left: 123 - $printMargin;
}

#skillsBlock {
    width: 149px;
    height: 344px;
    top: 422 - $printMargin;
    left: 123 - $printMargin;
}

#inspBlock {
    top: 161px;
    left: 100px;
}
#profBlock {
    top: 205px;
    left: 99px;
}

.boxBg {
    width: 229px;
    height: 314px;
}
#boxBg1 {
    top: 161px;
    left: 256px;
}
#boxBg2 {
    top: 161px;
    left: 496px;
}

#deathBlock {
    width: 101px;
    height: 64px;
    top: 427 - $printMargin;
    left: 291 - $printMargin;
}

/* ----------------------------------------------------------------------------------- */
/* -- Printing -- */
/* ----------------------------------------------------------------------------------- */

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    .outerPage {
        width: $fullWidth - ($printMargin * 2);
        /*transform: scale(1.5) !important;*/
		height: initial;
		margin: 0;
    }
    .page {
        top: 0;
        left: 0;
    }
}

@page {
    size: #{$fullWidth} #{$fullHeight};
    margin: $printMargin;
}
