html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
}
div {
    border: 1px solid red; /* debug */
}

.draggable {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}

.container {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}
.page {
    position: relative;
}

.attrBlock {
    z-index: 2;
    position: relative;
}
.attrBg {
    z-index: 1;
    position: absolute;
    top: 0;
}
.attrBlock.cha .attrBg {
    content: url('img/AttributeBlock6.svg');
}
.attrTxt {
    z-index: 2;
    position: absolute;
    text-align: center;
}
