@import url("fonts/fonts.css");
@import url("https://joycekimberly.github.io/JoSheet/calc.css");

html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
}
/*div { border: 1px solid red; } /* debug */

.lbl1 {
    font-family: 'scaly_sans';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 0.5px;
    text-align: center;
}

.resizable {
    box-sizing: border-box;
}

#hover {
    display: none;
    position: absolute;
    z-index: 999;
    border: 2px solid rgba(0, 153, 204, 100);
    background-color: rgba(51, 181, 229, 100);
}

.navbar h1 {
    font-family: 'mr_eaves';
    font-variant: small-caps;
}

#intro .desc {
    font-family: 'bookinsanity';
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.outerPage {
    page-break-after: always;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
}
.grid {
    background-color: white;
    background-image: 
        linear-gradient(rgba(190, 190, 190, 0.2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(190, 190, 190, 0.2) 2px, transparent 2px),
        linear-gradient(rgba(190, 190, 190, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(190, 190, 190, 0.2) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.boxBg {
    border-image-source: url("img/BoxBg.svg");
    border-image-slice: 30 101 fill;
    border-image-width: 30px 101px;
}

.block1 {
    border-image-source: url("img/Block1.svg");
    border-image-slice: 12 fill;
    border-image-width: 16px;
}

.block2 {
    border-image-source: url("img/Block2.svg");
    border-image-slice: 60 18 fill;
    border-image-width: 60px 18px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Printing -- */
/* ----------------------------------------------------------------------------------- */

@media print {
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    nav,
    #intro,
    #hover,
    .modal {
        display: none !important;
    }

    .outerPage {
        box-shadow: none;
    }
}
