@import url("fonts/fonts.css");
@import url("https://joycekimberly.github.io/JoSheet/calc.css");

html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
}
body, button, input, optgroup, select, textarea {
    font-family: 'scaly_sans';
}
/*div { border: 1px solid red; } /* debug */

.lbl1 {
    font-family: 'scaly_sans';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 0.5px;
    text-align: center;
}

.resizable {
    box-sizing: border-box;
}

.hover {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid rgba(0, 153, 204, 0.2);
    background-color: rgba(51, 181, 229, 0.2);
}
.moveMode .draggable:hover .hover,
.moveMode .resizable:hover .hover,
.inputMode .editable:hover .hover {
    display: block;
}

.navbar h1 {
    font-family: 'mr_eaves';
    font-variant: small-caps;
}
.loadCharacter {
    padding-right: 10px;
}
.loadCharacter .close {
    display: none;
}
.loadCharacter:hover .close {
    display: block;
}

.navbar + .container {
    border-top: 1px solid #000000;
}
.navbar + .container .alert:first-child {
    margin-top: 15px;
}
#alertBox {
    display: none;
}

.outerPage {
    page-break-after: always;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
}
.grid {
    background-color: white;
    background-image:
        linear-gradient(rgba(175, 175, 175, 0.4) 1px, transparent 1px),
        linear-gradient(90deg, rgba(175, 175, 175, 0.6) 1px, transparent 1px),
        linear-gradient(rgba(175, 175, 175, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(175, 175, 175, 0.2) 1px, transparent 1px),
        linear-gradient(rgba(175, 175, 175, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(175, 175, 175, 0.1) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px, 5px 5px, 5px 5px;
    /*background-position: -1px -1px;*/
    background-position: 23px 23px;
}

.boxBg .bg {
    border-image-source: url("img/BoxBg.svg");
    border-image-slice: 30 101 fill;
    border-image-width: 30px 101px;
}

.block1 .bg {
    border-image-source: url("img/Block1.svg");
    border-image-slice: 12 fill;
    border-image-width: 16px;
}

.block2 .bg {
    border-image-source: url("img/Block2.svg");
    border-image-slice: 60 18 fill;
    border-image-width: 60px 18px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Printing -- */
/* ----------------------------------------------------------------------------------- */
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    nav,
    #hover,
    .modal {
        display: none !important;
    }

    .outerPage {
        box-shadow: none;
    }
}
