@import url("fonts/fonts.css");
a {
  outline: none !important;
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
::-moz-focus-inner {
  border: 0 !important;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.display { z-index: 6; }

.center { text-align: center; }
.right { text-align: right; }
select.right {
    direction: rtl;
}
option {
    direction: ltr;
}

.hidden,
.display,
.expertise {
  display: none;
}

html {
  overflow-y: scroll;
}
.outerPage ,
.outerPage button,
.outerPage optgroup,
.outerPage select,
.outerPage input,
.outerPage textarea {
  font-family: 'scaly_sans';
}
/*.display { border: 1px solid red; } /* debug */
body {
  background-color: #292b2c;
  margin: 0;
  padding: 0;
}
div img,
div .bg,
div .bg img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

h6 {
  font-weight: bold;
}

.outerPage div,
.outerPage input {
  color: black !important;
  background-color: transparent;
  position: absolute;
}
.outerPage .rel {
  position: relative;
  display: inline-block;
}

.content {
  width: 100%;
  height: 100%;
  padding: 9px 9px 16px;
}
.alert .content {
  font-size: 0.9rem;
  line-height: 1rem;
  width: initial;
  margin: 0;
  padding: 0;
}
.block1 .content {
  padding: 9px 8px 16px;
}
.block6 .content {
  padding: 9px 11px 2px;
}
.block7 .content {
  padding: 9px 8px 16px;
}
.block8 .content .display.notes,
.block8 .underlines {
  padding: 9px 13px 16px;
}
#skillsBlock .content {
  padding-right: 0;
}

.lbl1,
.lbl2,
.lbl3,
.hlbl {
  font-family: 'scaly_sans';
  text-transform: uppercase;
}
.lbl1 {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
}
.lbl2 {
  font-size: 9px;
}
.lbl3 {
  font-size: 7.5px;
}
.outerPage .content .lbl4 {
  font-size: 10px;
  line-height: 18px;
  color: #9D9FA2 !important;
}
.lbl1.lower {
  line-height: 8px;
  width: 100%;
  text-align: center;
  bottom: 4px;
}
.lbl3.lower {
  width: 100%;
  text-align: center;
  bottom: 3.5px;
}
#acBlock .lbl1 {
  bottom: 11px;
}
.outerPage .hlbl {
  color: #9D9FA2 !important;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: -0.3px;
  margin: -1px 0 -3px 2px;
}
#pageHeader3 .lbl2 {
  font-size: 9px;
  line-height: 8px;
}
.lbl.lblInline {
  display: inline;
}

.display,
input.display,
select.display {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: black;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  white-space: nowrap;
  letter-spacing: -0.3px;
  vertical-align: top;
}
input.display,
select.display {
  background-color: transparent;
  background-image: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-background-clip: initial;
  background-clip: initial;
}
.attrBlock .display {
  width: 26px;
  font-size: 14px;
  line-height: 18px;
  top: 58px;
  left: 22px;
}
.attrBlock .display.mod {
  width: 44px;
  font-size: 26px;
  line-height: 30px;
  top: 20px;
  left: 13px;
}

.form-control:focus {
  background-color: transparent;
}

.attrInput {
  max-width: 50px;
  text-align: center;
}

.inputMode * {
  cursor: auto;
}
.outerPage .custom-checkbox {
  min-height: 16px;
  position: absolute;
  padding-left: 12px;
  margin: 0;
}
.outerPage .custom-checkbox .checkBall,
.outerPage .custom-checkbox .custom-control-indicator {
  width: 10px;
  height: 10px;
  border: none;
  background: none;
  content: url('img/CheckBox1.svg');
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
}
.outerPage .custom-checkbox .custom-control-indicator {
  display: none;
}
.outerPage .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
  border: none;
  background: none;
  content: url('img/CheckBox2.svg');
}
.outerPage .form-control:disabled, .form-control[readonly],
.outerPage .custom-control-input:disabled~.custom-control-indicator,
.outerPage .custom-control-input:disabled~.custom-control-description {
  color: black;
  cursor: auto;
  background-color: transparent;
}

.outerPage .savesSkill {
  width: 100%;
  height: 17px;
  position: relative;
}
.content .mod {
  display: inline;
}
.content .mod.display {
  display: none;
}
.content .mod.display,
.content .mod.underline {
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  width: 18px;
  height: 14px;
  left: 14px;
}
.content .mod.lbl {
  font-size: 10px;
  left: 36px;
}
.content .mod.lbl span {
  color: #9D9FA2;
}
.content .modrow .col {
  margin-bottom: 0;
}
.content .spacerRow {
  height: 7px;
}

.line,
.underline {
  border-bottom: 1px solid #d5d7db;
}
.content .display.notes,
.underlines {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 9px 16px;
}
.content .underlines * {
  height: 14px;
  position: relative;
}
#bgFeatBlock .content {
  padding-bottom: 18px;
}

.labelBlock img {
  z-index: 1;
  position: absolute;
  top: 0;
}
.labelBlock .lbl {
  width: 100%;
  text-align: center;
  font-size: 7px;
  z-index: 2;
  right: 0;
}
.labelBlock .display {
  font-size: 18px;
  line-height: 30px;
}
.labelBlock1 .lbl {
  padding-left: 33px;
  top: 15px;
}
.labelBlock2 .lbl {
  padding-left: 33px;
  top: 21px;
}
.labelBlock3 .lbl {
  padding-left: 46px;
  top: 15px;
}

.content .row {
  margin: 0;
}
.content .col {
  height: 18px;
  padding: 0;
  margin: 1.5px;
}
.content .modRow .col {
  height: 16px;
}
.content .subCol {
  margin: 0;
}
.content .inputBg {
  width: 100%;
  height: 100%;
}
.content .longContent,
.content .atk,
.content .hlbl,
.content .row,
.content .col {
  position: relative;
}
.content .lbl,
.content .display,
.content input {
  font-size: 11px;
  line-height: 16px;
}
.content .atk {
  margin: 2px 0 9px;
}
.content .longContent {
  height: 100%;
  overflow: hidden;
}
.content .display {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content .display.notes {
  background-color: transparent;
  line-height: 14px;
  text-transform: none;
  white-space: pre-line;
  overflow: hidden;
  resize: none;
}
.content .profChecks {
  height: 16px;
}
#savesBlock .content .lbl {
  text-transform: uppercase;
}
#armorBlock .content .lbl,
#langBlock .content .lbl {
  font-size: 10px;
}
#armorBlock .col-2:first-child {
  flex: 0 0 10%;
}
#ltdFeatsBlock .col-7 {
  flex: 0 0 54%;
}

.pageHeader .content {
  padding: 0;
}
.pageHeader .content .col {
  height: 100%;
}
.pageHeader .content .col input,
.pageHeader .content .col select {
  font-size: 14px;
  height: 18px;
}

.smallBlock .content {
  padding: 6px 7px 12px 6px;
}
.content input.noTransform {
  text-transform: initial;
}
.smallBlock .content .col {
  height: 16px;
}
.content .lblRow .col,
.smallBlock .content .lblRow .col {
  height: initial;
}

.resizable {
  box-sizing: border-box;
}

.hover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.moveMode .hover {
  border: 1px solid rgba(4, 141, 204, 0.2);
  background-color: rgba(56, 166, 229, 0.2);
}
.inputMode .display:hover,
.content .dropdown-toggle-split-parent:hover .btn.dropdown-toggle-split {
  border: 1px solid rgba(77, 15, 167, 0.2);
  background-color: rgba(105, 20, 229, 0.2);
}
.moveMode .draggable:hover .hover,
.moveMode .resizable:hover .hover {
  display: block;
}

#edit {
  width: 100px;
  position: absolute;
  display: none;
  z-index: 999;
}
#edit .dropdown-toggle::after {
  display: none;
}
#edit button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 1px 0 0 1px;
  vertical-align: top;
  position: absolute;
  z-index: 1001;
}
#edit .dropdown-menu {
  top: 0;
  margin: 0;
}

.navbar .btn-toolbar {
  width: 100%;
}
.navbar h1 {
  font-family: 'mr_eaves';
  font-variant: small-caps;
}
.loadCharacter {
  padding-right: 10px;
}
.loadCharacter .close {
  display: none;
}
.loadCharacter:hover .close {
  display: block;
}

.resetBtn {
  position: absolute;
  right: 0;
}

button .fa-stack {
  width: 1.28571429em;
  height: 1.28571429em;
  line-height: 1.28571429em;
  vertical-align: top;
}
button .fa-stack .fa-stack-1x {
  font-size: 0.66em;
}
button .fa-stack .fa-stack-2x {
  font-size: 1.28571429em;
}

.content .dropdown-menu {
  background-color: white;
}
.dropdown-item {
  position: relative;
  padding-right: 35px;
}
.dropdown-item .close {
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
  right: 10px;
}
.content .dropdown-toggle-split-parent,
.content .btn.dropdown-toggle-split {
  width: 100%;
  height: 100%;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.content .dropdown-toggle-split-parent > * {
  margin: 0;
}
.content .btn.dropdown-toggle-split {
  border-radius: 0;
  display: none;
}
.content .dropdown-toggle::after {
  margin: 0;
}
.content .dropdown-toggle-split-parent:hover .btn.dropdown-toggle-split {
  display: block;
}

#blockMenu {
  margin-bottom: 15px;
}

.navbar, .outerPage {
  width: 793px;
}
#alerts {
  width: 793px;
  padding-top: 15px;
  right: auto;
}
#blockMenuContainer {
  background-color: #292b2c;
}

.outerPage {
  background-color: white;
  width: 793px;
  height: 1122px;
  position: relative;
  margin-bottom: 4px;
  transform-origin: 0 0;
}
.outerPage.drop-target {
  background-color: #f2dede;
}
.grid {
  background-color: white;
  background-image:
    linear-gradient(rgba(175, 175, 175, 0.4) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.6) 1px, transparent 1px),
    linear-gradient(rgba(175, 175, 175, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.2) 1px, transparent 1px),
    linear-gradient(rgba(175, 175, 175, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px, 5px 5px, 5px 5px;
  background-position: 23px 23px;
}
.page {
  width: 745px;
  height: 1030px;
  position: relative;
  top: 24px;
  left: 24px
}
.sparePage {
  background-color: transparent;
}
.sparePage .page {
  background-color: transparent;
}

.attrBlock {
  width: 70px;
  height: 82px
}
.attrBlock .attrBg {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0
}
.attrBlock .attrTxt {
  width: 100%;
  z-index: 2;
  top: 6px
}

.coinBg {
  width: 45px;
  height: 20px;
  top: 5px;
}
.coinBlock {
  width: 55px;
  height: 30px;
  right: 0;
}

.spells {
  width: calc(100% - 30px);
  position: relative;
  top: 160px;
  left: 15px;
}
.spells .spellsHeader {
  height: 55px;
}
.spells .spellsHeader .content {
  position: relative;
}
.spells .spellsHeader .row .col {
  line-height: 53px;
  height: auto;
}
.spells .spellsHeader .row .col-1 {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  flex: 0 0 2.9%;
}
.spells th {
  font-size: 7px;
  font-weight: bold;
  text-transform: uppercase;
}
.spells td {
  font-size: 9px;
}
.spells * {
  letter-spacing: -0.3px;
  border: none;
  margin: 0;
  padding: 1px;
}
.spells .custom-checkbox {
  top: 0;
}

.moveMode select.data-list-input {
  display: none;
}
.inputMode select.data-list-input {
  /*display: inline-block;*/
}
select.data-list-input {
  display: none;
  color: rgba(0, 0, 0, 0);
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background-position: right 5px center;
  width: 20px;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0;
}
input.data-list-input {
  width: calc(100% - 20px) !important;
}
div.data-list-input:hover select.data-list-input,
div.data-list-input:focus select.data-list-input,
div.data-list-input:active select.data-list-input {
  display: inline-block;
  color: rgba(105, 20, 229, 0);
  border: 1px solid rgba(77, 15, 167, 0.2);
  background-color: rgba(105, 20, 229, 0.2);
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem
}
.ui-menu-item {
  padding: 3px 1.5rem;
}
.ui-menu-item:focus,
.ui-menu-item:hover {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}

#calcModal .col {
  padding-right: 0;
}
#calcModal select {
  width: 100%;
}
#calcModal select[multiple] {
  height: 6rem;
  background: none;
}

#hiddenFields * {
  color: white;
  background-color: transparent;
  font-size: 12px;
  display: block;
  position: static;
  margin: 0 0 0 auto;
  padding: 0 5px;
}
#hiddenFields div * {
  border: none;
  display: inline-block;
}
#hiddenFields div select,
#hiddenFields div input {
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Borders -- */
/* ----------------------------------------------------------------------------------- */
.labelBlock1 .bg {
  border-image-source: url("img/LabelBlock1.svg");
  border-image-slice: 17 16 18 39 fill;
  border-image-width: 17px 16px 18px 39px;
}
.labelBlock2 .bg {
  border-image-source: url("img/LabelBlock2.svg");
  border-image-slice: 22 16 21 45 fill;
  border-image-width: 22px 16px 21px 45px;
}
.labelBlock3 .bg {
  border-image-source: url("img/LabelBlock3.svg");
  border-image-slice: 17 18 18 48 fill;
  border-image-width: 17px 18px 18px 48px;
}
.labelBlock4 .bg {
  border-image-source: url("img/LabelBlock4.svg");
  border-image-slice: 27 20 27 40 fill;
  border-image-width: 27px 20px 27px 40px;
}
.labelBlock5 .bg {
  border-image-source: url("img/LabelBlock5.svg");
  border-image-slice: 27 20 27 94 fill;
  border-image-width: 27px 20px 27px 94px;
}

.boxBg1 .bg {
  border-image-source: url("img/AttrBox.svg");
  border-image-slice: 30 38 fill;
  border-image-width: 30px 38px;
}
.boxBg2 .bg {
  border-image-source: url("img/BoxBg.svg");
  border-image-slice: 30 101 fill;
  border-image-width: 30px 101px;
}
.inputBg {
  border-image-source: url("img/InputBg.svg");
  border-image-slice: 3 fill;
  border-image-width: 3px;
}

.block1 .bg {
  border-image-source: url("img/Block1.svg");
  border-image-slice: 16 fill;
  border-image-width: 16px;
}
.block2 .bg {
  border-image-source: url("img/Block2.svg");
  border-image-slice: 60 18 fill;
  border-image-width: 60px 18px;
}
.block3 .bg {
  border-image-source: url("img/Block3.svg");
  border-image-slice: 15 16 34 fill;
  border-image-width: 15px 16px 34px;
}
.block4 .bg {
  border-image-source: url("img/Block4.svg");
  border-image-slice: 32 16 fill;
  border-image-width: 32px 16px;
}
.block5 .bg {
  border-image-source: url("img/Block5.svg");
  border-image-slice: 33 16 16 fill;
  border-image-width: 33px 16px 16px;
}
.block6 .bg {
  border-image-source: url("img/Block6.svg");
  border-image-slice: 14 19 34 fill;
  border-image-width: 14px 19px 34px;
}
.block7 .bg {
  border-image-source: url("img/Block7.svg");
  border-image-slice: 8 8 fill;
  border-image-width: 8px 8px;
}
.block8 .bg {
  border-image-source: url("img/Block8.svg");
  border-image-slice: 14 19 34 fill;
  border-image-width: 14px 19px 34px;
}

.block9 .bg {
  border-image-source: url("img/Block9.svg");
  border-image-slice: 8 11 fill;
  border-image-width: 8px 11px;
}
.block10 .bg {
  border-image-source: url("img/Block10.svg");
  border-image-slice: 15 12 fill;
  border-image-width: 15px 12px;
}
.block11 .bg {
  border-image-source: url("img/Block11.svg");
  border-image-slice: 15 13 fill;
  border-image-width: 15px 13px;
}
.block12 .bg {
  border-image-source: url("img/Block12.svg");
  border-image-slice: 15 16 fill;
  border-image-width: 15px 16px;
}
.block13 .bg {
  border-image-source: url("img/Block13.svg");
  border-image-slice: 15 16 fill;
  border-image-width: 15px 16px;
}
.block14 .bg {
  border-image-source: url("img/Block14.svg");
  border-image-slice: 15 26 fill;
  border-image-width: 15px 26px;
}
.block15 .bg {
  border-image-source: url("img/Block15.svg");
  border-image-slice: 28 34 fill;
  border-image-width: 28px 34px;
}
.block16 .bg {
  border-image-source: url("img/Block16.svg");
  border-image-slice: 13 95 fill;
  border-image-width: 13px 95px;
}
.block16Var .bg {
  border-image-source: url("img/Block16.svg");
  border-image-slice: 13 11 fill;
  border-image-width: 13px 11px;
}
.block17 .bg {
  border-image-source: url("img/Block17.svg");
  border-image-slice: 25 13 fill;
  border-image-width: 25px 13px;
}
.block17Var .bg {
  border-image-source: url("img/Block17.svg");
  border-image-slice: 13 13 fill;
  border-image-width: 13px 13px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Overrides -- */
/* ----------------------------------------------------------------------------------- */
@media screen and (min-width: 794px) {
  .navbar {
    padding-right: 0;
  }
}

@media screen and (orientation: portrait) {
  .navbar h1 {
    font-size: 1.8rem !important;
  }

  .navbar button, .navbar input, .navbar optgroup, .navbar select, .navbar textarea {
    font-size: 1.4rem !important;
  }

  .alert {
    font-size: 1.4rem !important;
  }
}
