---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "reset";
@import url("fonts/fonts.css");

$fullWidth: 793px;
$fullHeight: 1122px;
$printMargin: 24px;

html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;

    #intro, .outerPage {
        margin: 15px;
    }
}
.outerPage div {
    /*border: 1px solid red; /* debug */
    position: absolute;
}
div > img {
    width: 100%;
    height: 100%;
}

.lbl1 {
    font-family: 'scaly_sans';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    letter-spacing: 0.5px;
    text-align: center;
}

.resizable {
    box-sizing: border-box;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }

#intro, #intro > * {
    position: static;
}
#intro .desc {
    font-family: 'bookinsanity';
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}
.outerPage {
    /*page-break-before: always;*/
    width: $fullWidth;
    height: $fullHeight;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
    position: relative;
}
.grid {
    width: $fullWidth;
    height: $fullHeight;
    background-color: white;
    background-image: linear-gradient(rgba(190, 190, 190, 0.2) 2px, transparent 2px),
        linear-gradient(90deg, rgba(190, 190, 190, 0.2) 2px, transparent 2px),
        linear-gradient(rgba(190, 190, 190, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(190, 190, 190, 0.2) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    top: 0;
    left: 0;
}
.page {
    width: $fullWidth - ($printMargin * 2);
    height: $fullHeight - ($printMargin * 3.5);
    position: relative;
    top: $printMargin;
    left: $printMargin;
}

.basicBar {
    width: $fullWidth - ($printMargin * 2);
    height: 126px;
}

.attrBlock {
    width: 70px;
    height: 82px;

    .attrBg {
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
    }
    .attrTxt {
        width: 100%;
        z-index: 2;
        top: 6px;
    }
}

.inspBlock {
    width: 145px;
    height: 37px;

    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 14px;
        right: 0;
    }
}

.profBlock {
    width: 146px;
    height: 45px;

    img {
        z-index: 1;
        position: absolute;
        top: 0;
    }
    .lbl1 {
        width: 114px;
        font-size: 7px;
        z-index: 2;
        top: 18px;
        right: 0;
    }
}

/* ----------------------------------------------------------------------------------- */
/* -- Defaults -- */
/* ----------------------------------------------------------------------------------- */

/* -- Positioning -- */
#basicBar {
    top: 21px;
    left: 0px;
}

#attrBox {
    top: 160px;
    left: 15px;
}

#strBlock {
    top: 181px;
    left: 20px;
}
#dexBlock {
    top: 273px;
    left: 20px;
}
#conBlock {
    top: 365px;
    left: 20px;
}
#intBlock {
    top: 457px;
    left: 20px;
}
#wisBlock {
    top: 548px;
    left: 20px;
}
#chaBlock {
    top: 640px;
    left: 20px;
}

#inspBlock {
    top: 161px;
    left: 100px;
}
#profBlock {
    top: 205px;
    left: 99px;
}

#boxBg1 {
    top: 161px;
    left: 256px;
}
#boxBg2 {
    top: 161px;
    left: 496px;
}

/* -- Size -- */
#attrBox {
    width: 80px;
    height: 588px;
}

#boxBg1, #boxBg2 {
    width: 229px;
    height: 314px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Printing -- */
/* ----------------------------------------------------------------------------------- */

@media print {
    @page {
        size: #{$fullWidth} #{$fullHeight};
        margin: $printMargin;
    }
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    #intro {
        display: none
    }

    .outerPage {
        box-shadow: none;
        width: $fullWidth - ($printMargin * 2);
        /*transform: scale(1.5) !important;*/
		height: initial;
		margin: 0;
    }
    .page {
        top: 0;
        left: 0;
    }
}
