@import url("fonts/fonts.css");
a {
    outline: none !important;
}
:focus {
    outline: none !important;
    box-shadow: none !important;
}
::-moz-focus-inner {
    border: 0 !important;
}

.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.display { z-index: 6; }

.center { text-align: center; }
.right { text-align: right; }

.hidden,
.display {
  display: none;
}

html {
  overflow-y: scroll;
}
body, button, optgroup, select, input, textarea {
  font-family: 'scaly_sans';
}
/*.display { border: 1px solid red; } /* debug */
body {
    background-color: #292b2c;
    margin: 0;
    padding: 0;
}
div .bg,
div .bg img {
    width: 100%;
    height: 100%;
}

.outerPage div {
  color: black !important;
  position: absolute;
}

.content {
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 10px ;
}
.alert .content {
  width: initial;
  margin: 0;
  padding: 0;
}

.lbl1,
.lbl2,
.lbl3,
.hlbl {
  font-family: 'scaly_sans';
  text-transform: uppercase;
}
.lbl1 {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
}
.lbl2 {
  font-size: 9px;
}
.lbl3 {
  font-size: 7.5px;
}
.lbl1.lower {
  line-height: 8px;
  width: 100%;
  text-align: center;
  bottom: 4px;
}
.lbl3.lower {
  width: 100%;
  text-align: center;
  bottom: 3.5px;
}
#acBlock .lbl1 {
  bottom: 11px;
}
.outerPage .hlbl {
  color: #9D9FA2 !important;
  font-size: 9px;
  line-height: 8px;
  margin: -2px 0 -2px 3px;
}
#pageHeader3 .lbl2 {
  font-size: 9px;
  line-height: 8px;
}

.display,
.display.custom-select {
  /*font-family: 'bookinsanity';*/
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  color: black;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.3px;
  vertical-align: top;
}
.display.notes {
  font-size: 11px;
}
.display.custom-select {
  background-color: transparent;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.attrInput {
  max-width: 50px;
  text-align: center;
}

.inputMode .display .custom-select,
.inputMode .checkBall {
  cursor: pointer;
}
.checkBall {
  margin-top: 1px;
}
.checkBall,
.checkBall img {
  width: 10px;
  height: 10px;
}
.checkBall.unchecked {
  content: url('img/CheckBox1.svg');
}
.checkBall.checked {
  content: url('img/CheckBox2.svg');
}

.outerPage .savesSkill {
  width: 100%;
  height: 17px;
  position: relative;
}
.mod {
  display: inline;
}
.mod.display,
.mod.underline {
  line-height: 11px;
  font-size: 11px;
  text-align: center;
  width: 18px;
  height: 12px;
  left: 15px;
}
.mod.underline {
  border-bottom: 1px solid black;
}
.mod.lbl {
  font-size: 10px;
  left: 40px;
}
.mod.lbl span {
  color: #9D9FA2;
}

.resizable {
  box-sizing: border-box;
}

.line {
  border-bottom: 1px solid #d5d7db;
}

.hover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.moveMode .hover {
  border: 1px solid rgba(4, 141, 204, 0.2);
  background-color: rgba(56, 166, 229, 0.2);
}
.inputMode .editable .display:hover {
  border: 1px solid rgba(77, 15, 167, 0.2);
  background-color: rgba(105, 20, 229, 0.2);
}
.moveMode .draggable:hover .hover,
.moveMode .resizable:hover .hover {
  display: block;
}

#edit {
  width: 100px;
  position: absolute;
  display: none;
  z-index: 999;
}
#edit .dropdown-toggle::after {
  display: none;
}
#edit button {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 1px 0 0 1px;
  vertical-align: top;
  position: absolute;
  z-index: 1001;
}
#edit .dropdown-menu {
  top: 0;
  margin: 0;
}

.navbar .btn-toolbar {
  width: 100%;
}
.navbar h1 {
  font-family: 'mr_eaves';
  font-variant: small-caps;
}
.loadCharacter {
  padding-right: 10px;
}
.loadCharacter .close {
  display: none;
}
.loadCharacter:hover .close {
  display: block;
}

.resetBtn {
  position: absolute;
  right: 0;
}

button .fa-stack {
  width: 1.28571429em;
  height: 1.28571429em;
  line-height: 1.28571429em;
  vertical-align: top;
}
button .fa-stack .fa-stack-1x {
  font-size: 0.66em;
}
button .fa-stack .fa-stack-2x {
  font-size: 1.28571429em;
}

.dropdown-item {
  position: relative;
  padding-right: 35px;
}
.dropdown-item .close {
  font-size: 1.2rem;
  position: absolute;
  top: 6px;
  right: 10px;
}

#race,
#race * {
  text-transform: capitalize;
}

#blockMenu {
  margin-bottom: 15px;
}

.navbar, .outerPage {
  width: 793px;
}
#alerts {
  width: 793px;
  padding-top: 15px;
  right: auto;
}
#blockMenuContainer {
  background-color: #292b2c;
}

.outerPage {
  background-color: white;
  width: 793px;
  height: 1122px;
  position: relative;
  margin-bottom: 4px;
  transform-origin: 0 0;
}
.outerPage.drop-target {
  background-color: #f2dede;
}
.grid {
  background-color: white;
  background-image:
    linear-gradient(rgba(175, 175, 175, 0.4) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.6) 1px, transparent 1px),
    linear-gradient(rgba(175, 175, 175, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.2) 1px, transparent 1px),
    linear-gradient(rgba(175, 175, 175, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(175, 175, 175, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px, 5px 5px, 5px 5px;
  background-position: 23px 23px;
}
.page {
  width: 745px;
  height: 1030px;
  position: relative;
  top: 24px;
  left: 24px
}
.sparePage {
  background-color: transparent;
}
.sparePage .page {
  background-color: transparent;
}

.attrBlock {
  width: 70px;
  height: 82px
}
.attrBlock .attrBg {
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0
}
.attrBlock .attrTxt {
  width: 100%;
  z-index: 2;
  top: 6px
}

.labelBlock1 img,
.labelBlock2 img,
.labelBlock3 img {
  z-index: 1;
  position: absolute;
  top: 0;
}
.labelBlock1 .lbl,
.labelBlock2 .lbl,
.labelBlock3 .lbl {
  width: 100%;
  text-align: center;
  font-size: 7px;
  z-index: 2;
  right: 0;
}

.labelBlock1 .lbl {
  width: 114px;
  top: 15px;
}
.labelBlock2 .lbl {
  padding-left: 33px;
  top: 21px;
}
.labelBlock3 .lbl {
  font-size: 7.5px;
  padding-left: 46px;
  top: 15px;
}

.block1 .contentList {
  padding: 9px 8px 12px;
}
.block6 .contentList {
  padding: 9px 11px 2px;
}
.contentList .row {
  margin: 0;
}
.contentList .col {
  height: 18px;
  padding: 0;
  margin: 2px;
}
.contentList .lblRow .col {
  height: initial;
}
.contentList .subCol {
  margin: 0;
}
.contentList .inputBg {
  width: 100%;
  height: 100%;
}
.contentList .longContent,
.contentList .atk,
.contentList .hlbl,
.contentList .row,
.contentList .col {
  position: relative;
}
.contentList .lbl,
.contentList .display {
  font-size: 12px;
  line-height: 18px;
}
.contentList .atk {
  margin: 2px 0 10px;
}
.contentList .longContent {
  height: 100%;
  overflow: hidden;
}
.contentList .display {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#armorBlock .col:first-child {
  flex: 0 0 10%;
}
#attackBlock .col-6:first-child {
  flex: 0 0 48%;
}

/* ----------------------------------------------------------------------------------- */
/* -- Objects -- */
/* ----------------------------------------------------------------------------------- */
.pageHeader {
  width: 745px;
  height: 130px;
  top: 20px;
  left: 0px;
}

#attrBox {
  width: 80px;
  height: 580px;
  top: 160px;
  left: 15px;
}

.attrBlock {
  width: 70px;
  height: 82px;
}
#strBlock {
  top: 180px;
  left: 20px;
}
#dexBlock {
  top: 273px;
  left: 20px;
}
#conBlock {
  top: 365px;
  left: 20px;
}
#intBlock {
  top: 457px;
  left: 20px;
}
#wisBlock {
  top: 548px;
  left: 20px;
}
#chaBlock {
  top: 640px;
  left: 20px;
}

#savesBlock {
  width: 150px;
  height: 130px;
  top: 260px;
  left: 100px;
}

#skillsBlock {
  width: 150px;
  height: 335px;
  top: 405px;
  left: 100px;
}

#inspBlock {
  width: 145px;
  height: 40px;
  top: 160px;
  left: 100px;
}
#percBlock {
  width: 145px;
  height: 50px;
  top: 200px;
  left: 100px;
}
#profBlock {
  width: 80px;
  height: 65px;
  top: 750px;
  left: 340px;
}

#langBlock {
  width: 235px;
  height: 230px;
  top: 800px;
  left: 15px;
}

#boxBg1 {
  width: 250px;
  height: 305px;
  top: 160px;
  left: 260px;
}

#acBlock {
  width: 60px;
  height: 70px;
  top: 170px;
  left: 270px;
}

#maxHpBlock {
  width: 70px;
  height: 65px;
  top: 175px;
  left: 430px;
}

#initBlock {
  width: 70px;
  height: 65px;
  top: 245px;
  left: 430px;
}
#speedBlock {
  width: 70px;
  height: 65px;
  top: 315px;
  left: 430px;
}

#hpBlock {
  width: 150px;
  height: 65px;
  top: 245px;
  left: 270px;
}
#tempHpBlock {
  width: 150px;
  height: 65px;
  top: 315px;
  left: 270px;
}

#hitDiceBlock {
  width: 110px;
  height: 65px;
  top: 385px;
  left: 270px;
}
#deathBlock {
  width: 110px;
  height: 65px;
  top: 385px;
  left: 390px;
}

#attackBlock {
  width: 480px;
  height: 275px;
  top: 755px;
  left: 255px;
}

#armorBlock {
  width: 205px;
  height: 145px;
  top: 160px;
  left: 525px;
}

#boxBg2 {
  width: 280px;
  height: 330px;
  top: 160px;
  left: 450px;
}
#persTraits {
  width: 260px;
  height: 80px;
  top: 175px;
  left: 460px;
}
#ideals {
  width: 260px;
  height: 65px;
  top: 265px;
  left: 460px;
}
#bonds {
  width: 260px;
  height: 65px;
  top: 340px;
  left: 460px;
}
#flaws {
  width: 260px;
  height: 60px;
  top: 415px;
  left: 460px;
}

#featsBlock {
  width: 430px;
  height: 620px;
  top: 160px;
  left: 10px;
}

#equipBlock {
  width: 715px;
  height: 235px;
  top: 800px;
  left: 15px;
}

.coinBg {
  width: 45px;
  height: 20px;
  top: 5px;
}
.coinBlock {
  width: 55px;
  height: 30px;
  right: 0;
}

#cpBlock {
  width: 70px;
  height: 30px;
  top: 810px;
  left: 10px;
}
#spBlock {
  width: 70px;
  height: 30px;
  top: 845px;
  left: 10px;
}
#epBlock {
  width: 70px;
  height: 30px;
  top: 880px;
  left: 10px;
}
#gpBlock {
  width: 70px;
  height: 30px;
  top: 915px;
  left: 10px;
}
#ppBlock {
  width: 70px;
  height: 30px;
  top: 950px;
  left: 10px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Borders -- */
/* ----------------------------------------------------------------------------------- */
.labelBlock1 .bg {
  border-image-source: url("img/LabelBlock1.svg");
  border-image-slice: 17 16 18 39 fill;
  border-image-width: 17px 16px 18px 39px;
}
.labelBlock2 .bg {
  border-image-source: url("img/LabelBlock2.svg");
  border-image-slice: 22 16 21 45 fill;
  border-image-width: 22px 16px 21px 45px;
}
.labelBlock3 .bg {
  border-image-source: url("img/LabelBlock3.svg");
  border-image-slice: 17 18 18 48 fill;
  border-image-width: 17px 18px 18px 48px;
}
.labelBlock4 .bg {
  border-image-source: url("img/LabelBlock4.svg");
  border-image-slice: 27 20 27 40 fill;
  border-image-width: 27px 20px 27px 40px;
}
.labelBlock5 .bg {
  border-image-source: url("img/LabelBlock5.svg");
  border-image-slice: 27 20 27 94 fill;
  border-image-width: 27px 20px 27px 94px;
}

.boxBg1 .bg {
  border-image-source: url("img/AttrBox.svg");
  border-image-slice: 30 38 fill;
  border-image-width: 30px 38px;
}
.boxBg2 .bg {
  border-image-source: url("img/BoxBg.svg");
  border-image-slice: 30 101 fill;
  border-image-width: 30px 101px;
}
.inputBg {
  border-image-source: url("img/InputBg.svg");
  border-image-slice: 3 fill;
  border-image-width: 3px;
}

.block1 .bg {
  border-image-source: url("img/Block1.svg");
  border-image-slice: 16 fill;
  border-image-width: 16px;
}
.block2 .bg {
  border-image-source: url("img/Block2.svg");
  border-image-slice: 60 18 fill;
  border-image-width: 60px 18px;
}
.block3 .bg {
  border-image-source: url("img/Block3.svg");
  border-image-slice: 15 16 34 fill;
  border-image-width: 15px 16px 34px;
}
.block4 .bg {
  border-image-source: url("img/Block4.svg");
  border-image-slice: 32 16 fill;
  border-image-width: 32px 16px;
}
.block5 .bg {
  border-image-source: url("img/Block5.svg");
  border-image-slice: 33 16 16 fill;
  border-image-width: 33px 16px 16px;
}
.block6 .bg {
  border-image-source: url("img/Block6.svg");
  border-image-slice: 14 19 34 fill;
  border-image-width: 14px 19px 34px;
}
.block7 .bg {
  border-image-source: url("img/Block7.svg");
  border-image-slice: 8 8 fill;
  border-image-width: 8px 8px;
}
.block8 .bg {
  border-image-source: url("img/Block8.svg");
  border-image-slice: 14 19 34 fill;
  border-image-width: 14px 19px 34px;
}

.block9 .bg {
  border-image-source: url("img/Block9.svg");
  border-image-slice: 8 11 fill;
  border-image-width: 8px 11px;
}
.block10 .bg {
  border-image-source: url("img/Block10.svg");
  border-image-slice: 15 12 fill;
  border-image-width: 15px 12px;
}
.block11 .bg {
  border-image-source: url("img/Block11.svg");
  border-image-slice: 15 13 fill;
  border-image-width: 15px 13px;
}
.block12 .bg {
  border-image-source: url("img/Block12.svg");
  border-image-slice: 15 16 fill;
  border-image-width: 15px 16px;
}
.block13 .bg {
  border-image-source: url("img/Block13.svg");
  border-image-slice: 15 16 fill;
  border-image-width: 15px 16px;
}
.block14 .bg {
  border-image-source: url("img/Block14.svg");
  border-image-slice: 15 26 fill;
  border-image-width: 15px 26px;
}
.block15 .bg {
  border-image-source: url("img/Block15.svg");
  border-image-slice: 28 115 fill;
  border-image-width: 28px 115px;
}
.block15Var .bg {
  border-image-source: url("img/Block15.svg");
  border-image-slice: 28 34 fill;
  border-image-width: 28px 34px;
}
.block16 .bg {
  border-image-source: url("img/Block16.svg");
  border-image-slice: 13 95 fill;
  border-image-width: 13px 95px;
}
.block16Var .bg {
  border-image-source: url("img/Block16.svg");
  border-image-slice: 13 11 fill;
  border-image-width: 13px 11px;
}
.block17 .bg {
  border-image-source: url("img/Block17.svg");
  border-image-slice: 25 13 fill;
  border-image-width: 25px 13px;
}
.block17Var .bg {
  border-image-source: url("img/Block17.svg");
  border-image-slice: 13 13 fill;
  border-image-width: 13px 13px;
}

/* ----------------------------------------------------------------------------------- */
/* -- Overrides -- */
/* ----------------------------------------------------------------------------------- */
@media screen and (min-width: 794px) {
  .navbar {
    padding-right: 0;
  }
}

@media screen and (orientation: portrait) {
  .navbar h1 {
    font-size: 1.8rem !important;
  }

  .navbar button, .navbar input, .navbar optgroup, .navbar select, .navbar textarea {
    font-size: 1.4rem !important;
  }

  .alert {
    font-size: 1.4rem !important;
  }
}
