@import url("fonts/fonts.css");

html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
}
body > * {
    margin: 15px;
}
div {
    /*border: 1px solid red; /* debug */
}

.lbl1 {
    font-family: 'scaly_sans';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6px;
    letter-spacing: 0.4px;
    text-align: center;
}

.draggable {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}
.resizable {
    box-sizing: border-box;
}

#intro {
    font-family: 'bookinsanity';
    font-size: 0.8rem;
}

.outerPage {
    page-break-before: always;
    width: 595px;
    height: 842px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
}
.outerPage.grid {
    background-color: white;
    background-image: linear-gradient(#ececec 2px, transparent 2px),
        linear-gradient(90deg, #ececec 2px, transparent 2px),
        linear-gradient(#ececec 1px, transparent 1px),
        linear-gradient(90deg, #ececec 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.page {
    width: 559px;
    height: 779px;
    position: relative;
    top: 18px;
    left: 18px;
}

.basicBar {
    width: 559px;
    height: 95px;
    position: absolute;
    top: 16px;
    left: 0px;
}

.attrBox {
    width: 60px;
    height: 437px;
    padding: 20px;
    background-color: rgba(212, 213, 214, 255);
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 11px;
}
.attrBox .top, .attrBox .bottom {
    width: 100%;
    height: 26px;
    background-color: white;
    position: absolute;
}
.attrBox .top img, .attrBox .bottom img {
    width: 100%;
    height: 26px;
}
.attrBox .top {
    top: 0;
    left: 0;
}
.attrBox .bottom {
    bottom: 0;
    left: 0;
}
.attrBox .bottom img {
    transform: rotate(180deg);
    margin-top: -2px;
}

.attrBlock {
    width: 54px;
    height: 63px;
    z-index: 2;
    position: absolute;
    left: 14px;
}
.attrBlock.str { top: 136px; }
.attrBlock.dex { top: 205px; }
.attrBlock.con { top: 274px; }
.attrBlock.int { top: 343px; }
.attrBlock.wis { top: 411px; }
.attrBlock.cha { top: 480px; }
.attrBg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}
.attrTxt {
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 4.5px;
}

.inspBlock {
    width: 113px;
    height: 28px;
    position: absolute;
    top: 121px;
    left: 75px;
}
.inspBlock img {
    z-index: 1;
    position: absolute;
    top: 0;
}
.inspBlock .lbl1 {
    width: 86px;
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 0;
}

.profBlock {
    width: 114px;
    height: 35px;
    position: absolute;
    top: 154px;
    left: 74px;
}
.profBlock img {
    z-index: 1;
    position: absolute;
    top: 0;
}
.profBlock .lbl1 {
    width: 86px;
    z-index: 2;
    position: absolute;
    top: 13.5px;
    right: 0;
}


@media print {
    @page {
        size: 595px 842px;
        margin: 15px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    /*div { border: 1px solid blue; } /* debug */

    #intro {
        display: none
    }

    .outerPage {
        box-shadow: none;
        width: 559px;
        transform: scale(1.5) !important;
		height: initial;
		margin: 0;
    }
    .page {
        top: 0;
        left: 0;
    }
}
