@import url("fonts/fonts.css");

html {
    overflow-y: scroll;
}
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
}
body > * {
    margin: 15px;
}
/*div { border: 1px solid red; } /* debug */

.draggable {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
}
.resizable {
    box-sizing: border-box;
}

#intro {
    font-family: 'bookinsanity';
    font-size: 12px;
}

.container {
    width: 595px;
    height: 842px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform-origin: 0 0;
    transform: scale(1.0);
}
.page {
    width: 559px;
    height: 779px;
    position: relative;
    top: 18px;
    left: 18px;
}

.attrBox {
    width: 58px;
    height: 437px;
    padding: 20px;
    background-color: #DCDDDE;
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 12px;
}
.attrBox .top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.attrBox .bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.attrBlock {
    width: 54px;
    height: 63px;
    z-index: 2;
    position: absolute;
    left: 14px;
}
.attrBlock.str { top: 136px; }
.attrBlock.dex { top: 205px; }
.attrBlock.con { top: 274px; }
.attrBlock.int { top: 343px; }
.attrBlock.wis { top: 411px; }
.attrBlock.cha { top: 480px; }
.attrBg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}
.attrBlock.str .attrBg { content: url('img/AttrBlock1.svg'); }
.attrBlock.dex .attrBg { content: url('img/AttrBlock6.svg'); }
.attrBlock.con .attrBg { content: url('img/AttrBlock6.svg'); }
.attrBlock.int .attrBg { content: url('img/AttrBlock6.svg'); }
.attrBlock.wis .attrBg { content: url('img/AttrBlock6.svg'); }
.attrBlock.cha .attrBg { content: url('img/AttrBlock6.svg'); }
.attrTxt {
    font-family: 'scaly_sans';
    font-weight: bold;
    font-size: 6px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 6px;
    text-align: center;
}

@media print {
    @page {
        size: 210mm 297mm;
        margin: 6.35mm;
    }
    body {
        margin: 0;
        padding: 0;
    }
    div { border: 1px solid blue; } /* debug */

    #intro {
        display: none
    }

    .container {
        box-shadow: none;
		width: initial;
		height: initial;
		margin: 0;
    }
    .page {
        top: 0;
        left: 0;
    }
}
